<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/edit.css" />
<%- include('../partials/nav') %>

<main>
    <h1><%= title %></h1>
    <form id="new-form" action="/flights/<%= flight._id %>?_method=PUT" method="POST">
      <label for="airline-input">Airline:</label>
      <input type="text" name="airline" value="<%= flight.airline %>" id="airline-input">

      <label for="airport">Airport:</label>
      <input type="text" name="airport" value="<%= flight.airport %>"id="airport-input">

      <label for="flight-number">Flight Number:</label>
      <input type="number" name="flightNumber" value="<%= flight.flightNumber %>"id="flight-number-input">

      <label for="departure-input">Departs:</label>
      <input type="date" name="departs" value="<%= flight.departs %>"id="date-input">
      
      <button type="submit">Add Flight</button>
    </form>
  </main>

<%- include("../partials/footer") %>